<h1>Portfolio Items</h1>

<!-- <a href="/profiles/new">Create new portfolio item</a> -->
    <%= link_to "Create new Item", new_profile_path %>


<%= render partial: 'profile_item', collection: @profile_items %>
